@page "/"

<header class="Covid-header">
    
</header>


<h1 class="titulocantvacuna">JEER-PROG Creadores</h1>

<center>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="../wwwroot/img/jaime.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Jaime Hernandez</h5>
        </div>
    </div>
    <div class="card">

        <img class="card-img-top" src="../wwwroot/img/dan.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Daniel Rodriguez</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://adsib.gob.bo/api/adjuntos/0d3536f0-3f10-11eb-bff1-c1ba4fcb6d6a.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Luis Marmol</h5>
        </div>
    </div>

</div>
</center>
